{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
  <h2>Blog Posts</h2>
  {% for post in posts %}
  <div class="row">
    <div class="col">
      <h3>{{ post.title }}</h3>
      <small>By {{ post.author|author_details:request.user }} on {{ post.published_at|date:"d M, Y" }}</small>
      <p>{{ post.summary }}</p>
      <p>
        ({{ post.content|wordcount }} words)
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  {% endfor %}
<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 bg-primary">Column 1</div>
  <div class="col-xs-12 col-sm-2 col-md-2 bg-danger">Column 1</div>
  <div class="col bg-success">Column 1</div>
</div> -->


<!-- 
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="flase" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-1g-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h2>Index Template</h2> -->
<!-- <div class="alert alert-success" role="alert">
  Success!
</div>
<div class="alert alert-danger" role="alert">
  Danger!
</div>
<div class="alert alert-warning" role="alert">
  Warning!
</div> -->
<!-- <button type = "button" class="btn btn-primary">Primary</button>
<a href="#" class="btn btn-secondary">Secondary</a>
<button type="button" class="btn btn-danger">Danger</button>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    BootStrap dropdown
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown<dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Item 1</a></li>
    <li><a class="dropdown-item" href="#">Item 2</a></li>
    <li><a class="dropdown-item" href="#">Item 3</a></li>
  </ul>
</div> -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#example-modal">
  open modal 
</button>

<div class="modal" id="example-modal" tabindex="-1" aria-labelledby="example-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="example-modal-label">Modal Title</h5>
        <button type ="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Modal Body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<ul class="pagination">
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
  </li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="#">2</a>
  </li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul> -->
{% endblock %}
