{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
  {% col %}
    {% include "blog/post-byline.html" %}
  {% col %}
{% endrow %}
{% row %}
  {% col %}
    {{ post.content|safe }}
  {% col %}
{% endrow %}
{% if post.author.profile %}
  {% row %}
    {% col %}
      <h4>About the Author</h4>
      <p>{{ post.author.profile.bio }}</p>
    {% endcol %}
  {% endrow %}
{% endif %}
{% row %}
  {% col %}
    {% include "blog/post-comments.html" %}
    {% recent_posts post %}
  {% endcol %}
{% endrow %}
{% endblock %}